#map {
  height: 80%;
  width: 40%;
  float:right;
  overflow: hidden;
  flex: 50%;
  background-color: white;
  padding: 50px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block; 
  flex-direction: column; 
  font-size: large;
  text-align: center;
  font-family: Arial;
}

/* #header {
  padding: 5%;
  text-align: center;
  background: #1abc9c;
  color: white;
} */

#nav {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

#footer {
  clear: both;
  position: relative;
  height: 10%;
  margin-top: auto;
  background-color: grey;
}

.result-div {

}